body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tweet-layout {
  width: 650px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.float-right {
  float: right;
}
.m-1 {
  margin: 1em;
}
.mt-1 {
  margin-top: 1em;
}
